# Fichiers systeme Mac
.DS_Store

# Fichiers temporaires Word
~$*.docx

# Backend (Java / Maven)
backend/target/

# Frontend (Angular / Node)
frontend/node_modules/
frontend/.angular/
frontend/dist/

# Documents Word prives
*.docx